<%- include('partials/header') -%>

<div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
              
                <h2>Update profile</h2>
                <form action="/profile/createProfile/<%= posts._id%>" method="POST" id="createProfile" name="createProfile" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label for="city" class="ftext-xl text-gray-600">City</label>
                        <input type="text" class="border-2 border-gray-300 p-2 w-full" id="city" name="city">
                    </div>
                    <div class="mb-4">
                        <label for="favoriteFastFood" class="text-xl text-gray-600">Favorite Fast Food</label></br>
                        <input type="text" class="border-2 border-gray-300 p-2 w-full" name="favoriteFastFood" id="favoriteFastFood" placeholder="(Optional)" form="createProfile">
                    </div>
                  
                    </div>
                    
                    <div class="mb-3">
                      <label for="imageUpload" class="form-label">Image</label>
                      <input type="file" class="form-control" id="imageUpload" name="file">
                    </div>
                    <button type="submit" class="btn btn-primary" value="Upload" form="createProfile">Submit</button>
                </form>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'content' );
</script>
</div>
<%- include('partials/footer') -%>

